body {
    font-family: 'Roboto', sans-serif;
    background-color: #ECF0F1;
    color: #333;
}

header, footer {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #BDC3C7;
}

.navbar {
    background-color: #2C3E50;
}

.btn .material-symbols-outlined {
    vertical-align: middle;
}

.btn {
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.btn-secondary {
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.btn-warning {
    background-color: #F39C12;
    border-color: #F39C12;
}

.btn-danger {
    background-color: #E74C3C;
    border-color: #E74C3C;
}

#textEditor {
    display: none;
}

#htmlEditor, #textEditor {
    height: 500px;
}

#templateSearch {
    width: 500px;
}

.toast {
    background-color: #343a40;
    color: white;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toast-header, .toast-body {
    background-color: inherit;
    border-bottom: none;
}

#notificationToast {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1050;
}

.toast-success {
    background-color: #28A745;
    color: white;
}

.toast-danger {
    background-color: #E74C3C;
    color: white;
}

.pagination-wrapper {
    padding-bottom: 20px;
}
